jupyterlab
pandas


# PYTHONPATH=/Users/izzycrouch/Documents/North_Coders/Sprints/de-data-architecture-sprint python -m jupyter lab data_ingest.ipynb
#
# PYTHONPATH=/Users//yana/northcoders/Week8/de-data-architecture-sprint python -m jupyter lab landing_zone.ipynb